body {
}

#pittsburgh {
  min-height: 430px;
}

#linkingpittsburgh {
  text-align: center;
  font-size: 32pt;
  font-family: "Onyx";
}

#yourpittsburgh {
  text-align: center;
  font-size: 24pt;
  font-family: "tahoma";
}

#social {
}
